<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="huni">
<head>
  <meta charset="utf-8">
  <title ng-bind="$root.title + ' - HuNI'">HuNI - Humanities Networked Infrastructure</title>
  <!-- og: properties are for facebook -->
  <meta property="og:image" content="https://huni.net.au/images/huni-shared.png" />
  <meta property="og:title" content="{{ addthis.title }}">
  <meta property="og:description" content="{{ addthis.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/fonts.css" rel="stylesheet">
  <link href="css/summernote.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script src="huni-lib.js"></script>
  <script src="huni-src.js"></script>
</head>
<body ng-controller="TopLevelController">
    <nav class="navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/search"><img src="images/huni-logo-nav.png" width="112" height="29" alt="HuNI"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav">
              <li><a ng-click="hideMenu()" href="#/results">Search</a></li>
              <li><a ng-click="hideMenu()" href="#/collections">Collections</a></li>
              <li ng-show="user.canEdit"><a ng-click="hideMenu()" href="#/cms">CMS</a></li>
              <li dropdown>
              <a href="#" dropdown-toggle>About <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a ng-click="hideMenu()" href="#/about">What is HuNI?</a></li>
                  <li><a ng-click="hideMenu()" href="#/partners">Partners</a></li>
                  <li><a ng-click="hideMenu()" href="#/technologies">Technologies</a></li>
                  <li><a ng-click="hideMenu()" href="#/governance">Governance</a></li>
                  <li><a ng-click="hideMenu()" href="#/contact">Contact</a></li>
                </ul>
            </li>
              <li ng-show="user.loggedIn" dropdown>
                <a href="#" dropdown-toggle>My HuNI <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ng-repeat='i in menuItems'>
                    <a ng-click="hideMenu()" href="#/myhuni/{{i.page}}">{{i.text}}</a>
                  </li>
                </ul>
              </li>
             <li dropdown>
              <a href="#" dropdown-toggle>Help<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a ng-click="hideMenu()" href="#/help">Help topics</a></li>
                  <li><a ng-click="hideMenu()" href="#/glossary">Glossary</a></li>
                </ul>
            </li>
            </ul>
             <ul ng-cloak class="nav navbar-nav navbar-right">
               <li><div class="addthis_sharing_toolbox btn navbar-btn btn-sm"></div></li>
               <li><login-button ng-click="hideMenu()" user="user"></login-button></li>
             </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- end container -->
    </nav>
    <div id='snap-ins'>
      <collection-snapin> </collection-snapin>
      <link-snapin> </link-snapin>
      <query-snapin> </query-snapin>
    </div>
    <div id="main-view">
    <div id="main-container" class="container main" ng-view>
    </div>
    </div>
     <!-- start deakin footer -->
    <div class="footer-menu-container">
     <ul class="footer-menu">
  <li class="active"><a href="#/contact">Contact</a></li>
  <li><a href="#/terms-conditions">Terms & Conditions</a></li>
  <li><a href="#/data-policy">Data Policy</a></li>
  <li><a href="http://data.huni.net.au/status">Harvest Status</a></li>
  <li><a href="https://bitbucket.org/huniteam/documentation/wiki/API">API</a></li>
</ul>
     </div>
    <div class="container deakin-footer-container">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <p> &#169; Copyright <a href="http://www.deakin.edu.au/">Deakin University</a>. Deakin University is proud to be in partnership with, and acknowledges funding from,
  the <a href="http://www.nectar.org.au">National eResearch Collaboration Tools and Resources (NeCTAR)</a> project to develop HuNI.
  NeCTAR is an Australian Government project conducted as part of the Super Science initiative and financed by the Education Investment Fund.
    </p></div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 footer-logos">
      <a href="http://www.nectar.org.au"><img src="images/nectar-logo.png" class="img-responsive" title="National eResearch Collaboration Tools and Resources (NeCTAR)" alt="NeCTAR - National eResearch Collaboration Tools and Resources"></a>
    </div>
     <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 footer-logos">
   <a href="http://www.deakin.edu.au/"><svg width="70" height="31" viewBox="0 0 70 31" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>UTS</title><defs><path id="a" d="M.01.118v23.556h69.97V.118H.01z"></path></defs><g fill="none" fill-rule="evenodd"><path d="M.01.118v23.556h69.97V.118H.01z"></path><path class="logo__fill" fill="#0A0A08" d="M40.667 10.463h4.305v16.312h4.398V10.463h4.305V6.554H40.667v3.909"></path><g transform="translate(0 6.128)"><mask id="b" fill="#fff"><use xlink:href="#a"></use></mask><path class="logo__fill" d="M32.389 14.4c0 1.63-.954 2.646-2.46 2.646-1.538 0-2.46-1.016-2.46-2.647V.426H23.07v14.035c0 4 2.767 6.494 6.858 6.494 4.09 0 6.857-2.493 6.857-6.494V.426H32.39V14.4m32.67-5.756l-2.522-.954c-1.384-.524-1.63-1.416-1.63-2.001 0-1.108.8-1.939 2.214-1.939 1.384 0 2.306.923 2.306 2.37v.554h4.121v-.462c0-3.755-2.583-6.094-6.427-6.094-4.029 0-6.366 2.77-6.366 5.848 0 2.955 1.538 4.71 4.46 5.817l2.828 1.077c1.261.493 1.753 1.17 1.753 2.186 0 1.415-.922 2.246-2.583 2.246-1.66 0-2.675-.77-2.675-2.4v-.739h-4.152v.708c0 3.755 2.89 6.094 6.827 6.094 4.305 0 6.766-2.616 6.766-6.34 0-3.725-2.4-5.017-4.92-5.971M3.821 8.76l-1.91-1.912L0 8.76l1.91 1.912L3.822 8.76m4.277.456l1.455 1.456 1.91-1.912-1.946-1.948a2.006 2.006 0 0 0-2.838 0L0 13.497l1.91 1.912L8.1 9.216m-.456 8.106l-1.911-1.913-1.455 1.457-1.455-1.457L.91 17.322l1.947 1.949a2.005 2.005 0 0 0 2.838 0l1.948-1.95m.456 3.369l-1.455-1.456-1.911 1.913 1.947 1.948a2.006 2.006 0 0 0 2.838 0l1.947-1.948-1.91-1.913-1.456 1.456" fill="#0A0A08" mask="url(#b)"></path></g><path class="logo__fill" d="M11.92 22.994l-1.455-1.457-1.91 1.912 1.947 1.95a2.005 2.005 0 0 0 2.838 0l1.946-1.949-1.91-1.913-1.456 1.457m.456-3.37l1.912 1.913 1.91-1.912-1.911-1.913-1.91 1.912m-4.278-.454l-1.455-1.457-1.91 1.912 1.946 1.948a2.006 2.006 0 0 0 2.838 0l6.68-6.685-1.911-1.913-6.188 6.194m2.548-16.517L8.1.1 5.551 2.65 8.1 5.202l2.548-2.55" fill="#0A0A08"></path><path class="logo__fill" d="M4.92 8.457h1.827v3.62a2.659 2.659 0 0 1 2.703 0v-3.62h1.828l1.197 1.198 2.548-2.55-2.548-2.55-1.197 1.198H4.92L3.723 4.555l-2.548 2.55 2.548 2.55L4.92 8.457" fill="#0A0A08"></path></g></svg></a>
    </div>
    </div> <!-- end deakin footer -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52481055-1', 'auto');

    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b35f9f0da28de0"></script>
</body>
</html>
