<form name="form" novalidate>
<div id="collection-snapin" class="workflow-bar-fixed" ng-if="isActive">
  <div class="close-window">
    <button type="button" class="btn btn-info btn-sm" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span> Close
     </button>
    </div>
  <h3>Manage <a href="#/myhuni/collection/{{selectedCollection.id}}">{{selectedCollection.name}}</a>
  <span class="record-number"> (<record-count count="{{selectedCollection.record_count}}"></record-count>) </span>
      <button ng-show="permissions().can_edit_title" type="button" class="btn btn-primary btn-sm" ng-click="editDetails()">
        <span class="glyphicon glyphicon-pencil"></span> Edit
    </button></h3>
  <div ng-if="message">
    <alert type="success" close="closeAlert()" ng-show="ok">
      {{message}}
      <a ng-click="undoCollectionOperation()">UNDO
      <span class="glyphicon glyphicon-repeat"></span></a>
    </alert>
    <alert type="danger" close="closeAlert()" ng-hide="ok">
      {{message}}
      <a ng-if="undo" ng-click="undoCollectionOperation()">Try Again?
      <span class="glyphicon glyphicon-repeat"></span></a>
    </alert>
  </div>
  <div class="notes">
    <h5 class="inline">Collection notes:</h5> {{selectedCollection.synopsis | truncate:40}}
    <button ng-show="permissions().can_edit_notes" type="button" class="btn btn-primary btn-sm" ng-click="editDetails()">
        <span class="glyphicon glyphicon-pencil"></span> Edit
    </button>
  </div>
  <div class="collection-actions" ng-show="permissions().can_publish">
    <h5 class="inline">Make collection public:</h5>
    <div class="btn-group btn-toggle privacy">
      <input class="form-control" type="checkbox"
             ng-model="selectedCollection.is_public"
             ng-change="updateIsPublic($value)"
             ></input>
    </div>
  </div>
</div>
</form>
