<p><img src="images/huni-logo-about.png" class="img-responsive" />
<h2 class="space-above">What is HuNI?</h2>
<h4>HuNI is a new research and discovery platform developed by and for humanities and creative arts scholars.</h4>
<p>The Humanities Networked Infrastructure (HuNI) is a national Virtual Laboratory project developed as part of the Australian government’s NeCTAR (National e-Research Collaboration Tools and Resources) program. HuNI combines information from 30 of Australia’s most significant cultural datasets. These datasets comprise more than 2 million authoritative records relating to the people, organisations, objects and events that make up Australia's rich cultural heritage. HuNI also enables researchers to work with and share this large-scale aggregation of cultural information. 
HuNI has been developed as a partnership between 13 public institutions, led by Deakin University.</p>
<h4>HuNI will transform the future of research methods in the humanities and creative arts.</h4>

<p><img class="pull-right" src="images/opera.jpg" />The HuNI Virtual Laboratory is designed to support the nonlinear and recursive research methods practiced in the humanities. HuNI provides discovery tools for casual users from the wider community, but more sophisticated functionality is available to researchers who register for an account in the virtual laboratory. Registered researchers have their own personal workspace within HuNI. Central to the design of the HuNI platform is the recognition that HuNI users will already be comfortable with existing tools and workflows. Consequently, researchers can authenticate themselves using social media logins and will also be able to share their discoveries and activities through their existing social media accounts.The HuNI VL enables researchers to create, save and publish selections of data; to analyse and manipulate the data; share findings and to export the data for reuse in external environments.</p>

<p class="bottom-space">In a major innovation, HuNI also enables researchers to assert relationships between records in the form of ‘socially linked’ data which are visualised as a dynamic network graph. This capability contributes to the building of a ‘vernacular’ network of associations between HuNI records that recognise that there are diverse perspectives on knowledge and amplify avenues for research discovery beyond keyword and phrase searches.</p>
<h2 class="space-above">How it works</h2>
<h4><a href="images/HuNI-poster.pdf"><span class="glyphicon glyphicon-circle-arrow-down"></span> Download the project poster</a></h4>
<img alt="HuNI - How it works" class="img-responsive" src="images/HuNI-poster.jpg" />
