<h2 class="space-above">What's inside?</h2>
<p class="lead"><strong>HuNI</strong> (Humanities Networked Infrastructure) combines data from many Australian cultural websites into the biggest humanities and creative arts database ever assembled in Australia. HuNI data covers all disciplines and brings together information about the people, works, events, organisations and places that make up the country's rich cultural landscape. </p>
<p><a href="http://dh2015.org/workshops/" title="Digital Humanities 2015 workshops" class="btn btn-primary btn-md update"><span class="glyphicon glyphicon-calendar"></span> Register for the HuNI workshop – DH2015 Sydney</a></p>
