<h2 class="space-above">Glossary</h2>
<p><strong>Data provider:</strong> HuNI brings together records from a vast collection of Australian cultural websites - data providers are the organisations that supply their records to HuNI. Users can filter their search results by data provider.</p>
<p><strong>Data source:</strong> The record at its original data provider URL.</p>
<p><strong>HuNI Collection:</strong> Groups of records assembled by HuNI users. Users are also able to add notes (metadata) to their collections, and can be either private or made public.</p>
<p><strong>HuNI Links:</strong> Connections made within HuNI between records by users. Users are also able to add notes (metadata) to their links, and specify the type of relationship that links the two records.</p>
<p><strong>Category:</strong> Records are grouped in to 6 categories within HuNI and can be used to filter search results. These are defined as:</p>
<ul><li><strong>Concept</strong>: Something that essentially has only a mental existence, although it may relate to other kinds of categories in various ways. It can be written down, illustrated and communicated in other ways, but its primary existence is in the mind.</li>
<li><strong>Event</strong>: Something that happens in time and space and may involve people, places, organisations, works, concepts and possibly other aspects. In essence it is something reified out of a continuous dynamic stream of interactions of categories in time and space. It may be bounded in various ways citing place, people, activities, state transitions and more. The boundaries may be definite or fuzzy. Reification occurs on the basis of being considered significant enough by someone that they wish to refer to it as an entity in its own right. An event doesn't really have an independent existence: it is dependent on other categories and their interactions.</li>
<li><strong>Organisation</strong>: An organization has some existence in its own right above and beyond just being a group of particular people. In essence it is a social concept/agreement that occurs in time and may be related to people, places, other concepts etc. It may have an existence as a legal entity but not necessarily. An organization has temporal boundaries to its existence, e.g. started in 1945 and concluded in 1999.</li>

<li><strong>Person</strong>: A natural person who was born, and has or had a physical body. A person exists independently in his or her own right and may be identified but can never be defined. A group of people may be an entity in its own right. It can be linked to the individual people in the group but this is not required. For example, the "Quintrell family bell-ringers" can exist as a group of people without having to define the individual people in the group.</li>
<li><strong>Place</strong>: A real, spatial location. It can be a location on Earth (i.e. a geo-location) or off-world, but must be a real place. Geo-locations in HuNI may be specified as a latitude/longitude point (possibly extending for a certain distance) or as a geographically defined bounded area. They may have fuzzy boundaries and may change over time. A place can still be a place even if HuNI does not have the information about the exact location (i.e. the geographical co-ordinates, or latitude/longitude). The main reason for allowing off-world locations is that they may be settings for fictional works, particularly in the sci-fi genre. They can simply be specified as "off world" - spatial co-ordinates won't be given for locations not on the surface of the Earth. However, if it is not a real place, or there is considerable doubt/contention about whether it is a real place e.g. Shangri-la, Atlantis, etc it should be modeled as a concept rather than as a location.<br />It is acceptable to use a place name that doesn't have known physical co-ordinates - that is, it is known that it was a real place, but we don't really know where it was.</li>
<li><strong>Work</strong>: Something created by someone that has some independent existence, usually either physical or digital. It can be transferred from one person to another whilst retaining its essential form and structure. For example, it could be boxed up and sent somewhere, or sent via email. Once created, it usually doesn't change, although it may be interactive, e.g. a computer program, and may have versions that are related but differ in some way.</li>
</ul>
<p>&nbsp;</p>
