<h2 class="space-above">Help Topics</h2>
<div class="help-topics">
<h4><span class="glyphicon glyphicon-search "></span> Searching</h4>
<p>There are a number of ways a <a href="#/results"> search</a> can be conducted and refined within HuNI.</p>
<accordion close-others="oneAtATime">
    <accordion-group heading="Quick search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Quick search</h5>
        </accordion-heading>
      <p>Use the search box to find data of interest to you. Try keywords, person or place names or the name of a film or other artwork.</p>

    </accordion-group>
     <accordion-group heading="Multiple search terms" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Multiple search terms</h5>
        </accordion-heading>
	<p>If you know what you're looking for, enter the search terms and start exploring. Remember, strings of text should be simplified with non-essential words removed. For example, if you want to locate ‘Articles about Gallipoli’, search for ‘Gallipoli Article’.</p>
    </accordion-group>
    
    <accordion-group heading="Wildcards" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Wildcards</h5>
        </accordion-heading>
      <p>In a wildcard search asterisks are substituted for single letters within search terms. This can be helpful if you are not entirely sure of the word or spelling within your search term. For example, a search for ‘Jane Smi*’ would return results for ‘Jane Smith’, ‘Jane Smidmore’ and ‘Jane Smiley’. 
Searching with the search box blank will return results for <em>all</em> records available in HuNI.</p>
    </accordion-group>
    
    <accordion-group heading="Adding filters – Refine by ‘category’ or ‘data provider’" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Adding filters – Refine by ‘category’ or ‘data provider’</h5>
        </accordion-heading>
      <p>Filters can be used to refine search results. Find the filters available on the left hand side of the search page. Check one or multiple category check boxes to only show results from those categories.</p> 
<p>The ‘data provider’ filter allows you to limit results based on data source – all data providers currently providing content to HuNI are listed here.
Note that when <em>none</em> of the filter check boxes are ticked, <em>all</em> categories/providers are being displayed in the search results.</p>
    </accordion-group>
    
  </accordion>
  
  <hr />
<h4><span class="glyphicon glyphicon-user"></span> User profile</h4>
<p>By logging in and creating a user profile in HuNI you are able to create and manage your own collections and also create links between HuNI records. Without a user profile, the collection and link functions are not available. </p>
<accordion close-others="oneAtATime">
    <accordion-group heading="Creating a user profile" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Creating a user profile</h5>
        </accordion-heading>
        <p>To create a user profile first click the <a href="" class="btn btn-primary navbar-btn btn-sm"><span class="glyphicon glyphicon-user"></span>
   
   Log in
</a> button at the top of the screen. To sign up to HuNI and create a User Profile click one of the social media links where you have an account and follow the instructions. HuNI uses your email address and login details from the selected site to create your HuNI account.</p>
<p>Once signed in you can add information to your profile such as Organisation, and Collaboration Interests. You will notice that once you are logged in to HuNI there is an extra tab at the top of the page called <a href="#/myhuni/collections">My HuNI</a>. My HuNI allows you to keep track of your profile, any links you have created, and collections you have formed.
</p>
    </accordion-group>

  </accordion>
  
<hr />
<h4><span class="glyphicon icon-collection-stack"></span> Collections</h4>
<p><a href="#/collection">Collections</a> are groups of records assembled by HuNI users. When a collection is created, it can be made ‘public’, which means it will be included on the <a href="#/collection">Collections</a> page accessed via the main menu. Only users who are logged in to HuNI are able to create collections, however, <em>all</em> visitors to the site can browse public collections.</p>

<accordion close-others="oneAtATime">
    <accordion-group heading="Creating collections" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Creating collections</h5>
        </accordion-heading>
        <p>Once you are logged in, you will notice the <strong>Build collection</strong> <span class="glyphicon icon-add-collect icon-help"></span> button sitting on the right hand side of each record . Click this button to initiate the collection process.</p> 
      <p>The first step is to select an <em>existing</em> collection to add the record to, or create a <em>new</em> collection. Once the collection is selected, click ok. This will return you to the search results view, with the <strong>Collection management pane</strong> open at the top of the page. </p>
<p>You can now click the <strong>Add record</strong> <span class="glyphicon icon-add-record icon-help"></span>  or <strong>Remove record</strong> <span class="glyphicon icon-rem-record icon-help"></span> buttons build and refine your collection.</p>

<p>The collection management pane will remain open until you close it – this means you can navigate away from the current results to conduct a new search or to visit other areas of the site from where you can add records to your collection. You can also add notes to this collection and select whether or not it is visible to the public – note that if the collection is ‘public’, the notes will also be public. Public collections can be accessed by clicking ‘Collections’ from the main HuNI menu.</p>
<p>The collection process is dynamic – you are not required to save the collection. To exit the collection, simply ‘close’ the pane at the top right.</p>

    </accordion-group>
     <accordion-group heading="Editing collections" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Editing collections</h5>
        </accordion-heading>
	<p>HuNI users are able to edit collections they have created. <a href="#/myhuni/collections">My HuNI / My Collections</a>. Choose the collection from the list and click the <strong>Manage collection</strong> <span class="glyphicon icon-manage-collect icon-help"></span> button. This will open the <strong>Collection management pane</strong> with all the records it contains appearing below. You can now remove items from your collection by clicking the buttons that are now active within each record. The collection name and notes are also editable. You can also navigate away from these results to other areas of the site from where you can add records to your collection.</p> 
<p>To remove a collection entirely, go to <a href="#/myhuni/collections">My HuNI / My Collections</a>, locate the collection in the list and click the <strong>delete collection</strong> <span class="glyphicon icon-delete-collect icon-help"></span> button.</p>
    </accordion-group>
    
    <accordion-group heading="Exporting collections" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Exporting collections</h5>
        </accordion-heading>
      <p>To export a collection as a CSV file, go to <a href="#/myhuni/collections">My HuNI / My Collections</a> and click the <strong>Export collection</strong> <span class="glyphicon icon-export-collect icon-help"></span> button.</p>
    </accordion-group>   
  </accordion>
<hr />
<h4><span class="glyphicon glyphicon-link"></span> Links</h4>
<p>User generated links between records are central to the HuNI project. Users can connect two records and specify the relationship between them. In some instances predefined relationships will suffice (for example parent, employer, author), however, in others the user will need to create custom relationships, including consideration of the relationship in both directions. Only users who are logged in to HuNI are able to create links, however, all visitors to the site can see links that have been made between records via the diagram and table in the record detail view.</p>

<accordion close-others="oneAtATime">
    <accordion-group heading="Creating links" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Creating Links</h5>
        </accordion-heading>
        <p>Once you are logged in, you will notice the <strong>Create new link</strong> <span class="glyphicon icon-new-link icon-help"></span> button sitting on the right hand side of each record. Click this button to initiate a link from this record. This will open the <strong>Link management pane</strong> at the top of the screen. The link management pane will remain open until you close it – this means you can navigate away from the current results to conduct a new search or to visit other areas of the site from where you can select the record to link to.</p>
<p>The first step is to locate the record you would like to link to. The <strong>Add link</strong> <span class="glyphicon icon-add-link icon-help"></span> button is now active within each record.</p>
<p>Once the linked record has been selected, you need to specify what the relationship between these records is. The dropdown provides some predefined relationships, however, you can also add custom relationships. To do this, select ‘Create new’ from the dropdown – you are able to specify a relationship that is the same in both directions (e.g. ‘collaborator’) or add two directionally specific relationships (e.g. ‘writer’ and ‘written by’). </p>
<p>You can then add a note about this link before clicking ‘Save’. Note that all links and link notes are visible to the public from the diagram and tables that appear on the full record page. You are able to cancel the link process at anytime, however, the link will not be recorded unless it has been saved.
</p>
    </accordion-group>
     <accordion-group heading="Editing links" is-disabled="status.isFirstDisabled">
    <accordion-heading>
          <h5 class="help-sub"><span class="glyphicon glyphicon-chevron-right"></span> Editing links</h5>
        </accordion-heading>
	<p>To remove a link entirely, log in and go to <a href="#/myhuni/links">My HuNI / My Links</a> to locate the link in the list. Click the <strong>Delete link</strong> <span class="glyphicon icon-rem-link icon-help"></span> button.</p>
    </accordion-group>
  </accordion>


</div>
