<div class="modal-header">
  <h3 class="modal-title" ng-bind-html="message | trust"></h3>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="$close(true)">
      Yes
    </button>
    <button class="btn btn-warning" ng-click="$dismiss('Cancelled')">
      No
    </button>
</div>
