<div class="modal-header">
  <h3 class="modal-title">Notes for link</h3>
</div>
<div class="modal-body">
  <textarea placeholder="Notes for link"
         class="form-control" rows="4" ng-model="linknote"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="$close(linknote)">
      OK
    </button>
    <button class="btn btn-warning" ng-click="$dismiss('Cancelled')">
      Cancel
    </button>
</div>
