<table class="table table-striped table-hover" ng-show="collections.length">
  <thead>
      <tr>
          <th>Collection name</th>
          <th>Size</th>
          <th>Last modified</th>
          <th ng-if="public">
            <span class="glyphicon glyphicon-user"></span>
             Who made this collection?
          </th>
          <th ng-if="!public">
             Role
          </th>
          <th ng-if="!public">Public</th>
          <th class="right">Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in collections | filter:isVisible">
      <td> <!-- collection name -->
        <a href="{{baseUri}}/{{c.id}}"> <span class="icon-sml icon-collection"></span> {{c.name | truncate:60}} </a>
      </td>
      <td> <!-- size -->
        <record-count count="{{c.record_count}}"></record-count>
      </td>
      <td> <!--- last modified -->
        {{c.modified_utc | localDate}}
      </td>
      <td ng-if="public"> <!-- owner: TODO -->
        <user-list-short users="c.owners" link="{{baseUri}}/{{c.id}}">
        </user-list-short>
        {{c.username}}
      </td>
      <td ng-if="!public"> <!-- role -->
        <select ng-model="c.role_id"
                ng-disabled="!canChangeRole(c)"
                class="form-control"
                ng-change="onRoleChange(c, '{{ c.role_id }}')">
          <option ng-repeat="role in roleOptions" value="{{ role.id }}">
            {{ role.name }}
          </option>
          <option value="remove">
            Remove Me
          </option>
        </select>
      </td>
      <td ng-if="!public"> <!-- is_public -->
        <span ng-show="c.is_public" class="glyphicon glyphicon-eye-open" title="Public"></span>
        <span ng-hide="c.is_public" class="glyphicon glyphicon-minus" title="Private"></span>
      </td>
      <td>
        <button ng-if="!public" type="button" class="btn btn-primary btn-sm"
                  ng-disabled="!permissions(c).can_add_records"
                  ng-click="activateCollection(c)"
                  title="Manage Collection">
          <span class="glyphicon icon-manage-collect icon-sml"></span>
        </button>
        <button ng-if="!public" type="button" class="btn btn-danger btn-sm"
                ng-disabled="!permissions(c).can_delete"
                title="Delete Collection" ng-click="deleteCollection(c)">
          <span class="glyphicon icon-delete-collect icon-sml"></span>
        </button>
        <button ng-if="!public" type="button" class="btn btn-info btn-sm"
                ng-disabled="!permissions(c).can_manage_users"
                ng-click="manageCollectionUsers(c)"
                title="Manage Users">
          <span class="glyphicon icon-user icon-sml"></span>
        </button>
        <export-collection-button collection="c">
        </export-collection-button>
      </td>
    </tr>
  </tbody>
</table>
