<div class="alert alert-dismissable alert-{{type}}" role="alert">
    <button type="button" class="close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <div ng-transclude></div>
</div>
