<div class="col-lg-4 col-md-4">
  <ul class="pagination pagination-lg">
    <li ng-repeat="i in items" ng-class="isActive(i.page)">
      <a href="#/myhuni/{{i.page}}">{{i.text}}</a>
    </li>
  </ul>
</div>
<div class="col-lg-8 col-md-8">
  <huni-alert class="myhuni-alert" type="userAlert.type" close="closeAlert()"
         ng-if="displayMessage">
    {{displayMessage}}
  </huni-alert>
</div>
