<a href="#/record/{{record.docid}}">
  <span class="{{record | recordClass}}">
    <span class="icon-sml icon-{{record | recordClass}}"></span>
    {{ record | recordName | truncate:32 }}
  </span>
</a>
