<div class="row">
<my-huni-pills active-tab="collections" user-alert="userAlert">
</my-huni-pills>
</div>
<hr />

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12"><!-- start left col-->
    <!-- start collections list-->
    <loading-status
      status="status"
      empty-message="You don't have any collections"
      error-message='There was an error loading your collections'
      loading-message='Loading your collections'
      >
    </loading-status>
    <collection-list base-uri="#/myhuni/collection" collections="collections" is-public="false" user-alert="userAlert">
    </collection-list>
    <!-- end collections list-->
  </div><!-- end collections content /left col-->
</div><!-- end right hand col-->
