<div class="row">
<my-huni-pills active-tab="links" user-alert="userAlert">
</my-huni-pills>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12"><!-- start left col-->
    <!-- start links list-->
    <loading-status status="status"
      loading-message="Loading your links"
      error-message="There was an error loading your links"
      empty-message="You haven't made any links"
      >
    </loading-status>
    <table class="table table-hover table-striped" ng-show="status == 'ok'">
      <tbody>
      <tr>
        <thead>
          <th>Source record</th>
          <th>Relationship</th>
          <th>Target record</th>
          <th>Notes</th>
          <th></th>
        </thead>
      </tr>
      <tr ng-repeat="link in links">
        <td><record-summary record="link.from" /></td>
        <td style="white-space: nowrap" ng-if="link.linktype == link.pairtype">{{link.linktype}}</td>
        <td style="white-space: nowrap" ng-if="link.linktype != link.pairtype">
          <span class="glyphicon glyphicon-arrow-right"></span> {{link.linktype}}
            <br>
          <span class="glyphicon glyphicon-arrow-left"></span> {{link.pairtype}}
        </td>
        <td><record-summary record="link.to" /></td>
        <td><a ng-if="link.synopsis" ng-href="#/link/{{link.id}}">{{link.synopsis | truncate:10}}</a></td>
        <td align="right">
          <button type="button" class="btn btn-primary btn-sm my-collection" title="Manage link"
                  ng-click="editLink(link)">
            <span class="glyphicon icon-manage-link icon-sml"></span>
          </button>
          <button type="button" class="btn btn-danger btn-sm my-collection" title="Remove link"
                  ng-disabled="activeSnapIn.name == 'link'"
                  ng-click="deleteLink(link)">
            <span class="glyphicon icon-rem-link icon-sml"></span>
          </button>
          <a href="#/link/{{link.id}}">
            <button type="button" class="btn btn-primary btn-sm my-collection" title="View link">
              <span class="glyphicon icon-view-link icon-sml"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>
    <!-- end links list-->
  </div><!-- end links content /left col-->
</div>
