<div class="row">
<my-huni-pills active-tab="profile" user-alert="userAlert">
</my-huni-pills>
</div>
<hr />

<div class="row">
  <loading-status
    status="status"
    error-message='There was an error loading your profile'
    loading-message='Loading your profile'
  >
  </loading-status>
  <form class="form-horizontal" role="form" ng-show="status == 'ok'">
<!--  <div class="panel my-huni"> -->
    <div class="panel-body">
      <div class="form group">
        <label class="col-sm-2 control-label" for="input-name">Name</label>
        <div class="col-sm-10">
          <input id="input-name" class="form-control my-huni" type="text" ng-model="user.name">
        </div>
      </div>
      <div class="form group">
        <label class="col-sm-2 control-label" for="input-email">Email</label>
        <div class="col-sm-10">
          <input id="input-email" class="form-control my-huni" type="text" ng-model="user.email">
        </div>
      </div>
      <div class="form group">
        <label class="col-sm-2 control-label" for="input-institutions">Institutions</label>
        <div class="col-sm-10">
          <textarea id="input-institutions" class="form-control my-huni" ng-model="user.institutions" placeholder="Institutions" rows="3">
          </textarea>
        </div>
      </div>
      <div class="form group">
        <label class="col-sm-2 control-label" for="input-description">Description</label>
        <div class="col-sm-10">
          <textarea id="input-description" class="form-control my-huni" ng-model="user.description" placeholder="Description" rows="3">
          </textarea>
        </div>
      </div>
      <div class="form group">
        <label class="col-sm-2 control-label" for="input-interests">Interests</label>
        <div class="col-sm-10">
          <textarea id="input-interests" class="form-control my-huni" ng-model="user.interests" placeholder="Interests" rows="3">
          </textarea>
        </div>
      </div>
      <div class="form group">
        <label class="col-sm-2 control-label" for="input-collab">Collaboration Interests</label>
        <div class="col-sm-10">
          <textarea id="input-collab" class="form-control" ng-model="user.collaboration_interests" placeholder="Collaboration Interests" rows="3">
          </textarea>
        </div>
      </div>
      <div class="form group">
        <label class="col-sm-2 control-label" for="input-public">Make my profile public</label>
        <div class="col-sm-10">
          <input id="input-public" type="checkbox" ng-model="user.show_profile_info">
            Tick this box to make all the information above viewable on <a href="#/user/{{ user.id }}">your public profile page</a>. If you leave this box unticked, only your name will be shown.
        </div>
      </div>
      <div class="form group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button class="btn btn-primary btn-sm update" ng-click="update()">Update Profile</button>
        </div>
      </div>
    </form>
    </div>
<!--  </div> -->
  </form>
</div>
