<button class="btn btn-sm {{mode == 'remove' ? 'btn-danger' : 'btn-primary'}}"
        title="{{mode == 'remove' ? 'Remove from collection' : 'Add to collection' }}"
        ng-disabled="isDisabled" ng-click="click()">
<span ng-switch="mode">
  <span ng-switch-when="add" class="glyphicon icon-add-record icon-sml">
  </span>
  <span ng-switch-when="remove" class="glyphicon icon-rem-record icon-sml">
  </span>
  <span ng-switch-default class="glyphicon icon-add-collect icon-sml"></span>
</button>
