<button type="button" class="btn btn-info btn-sm"
        ng-click="exportCollection()"
        analytics-on analytics-event="export"
        analytics-category="collection"
        analytics-label="{{baseUri}}/{{c.id}}"
        title="Export Collection to CSV">
          <span class="glyphicon icon-export-collect icon-sml"></span>
</button>
<form name="{{ formName }}" accept-charset="UTF-8"
      method="post" action="/vlab/export" xxenctype="multipart/form-data">
  <input type="hidden" name="data" value='{{exportData}}'>
</form>
