<button class="btn {{canComplete ? 'btn-success btn-highlight btn-sm' : 'btn-primary btn-sm'}}"
        title="{{canComplete ? 'Link to this' : 'Create a new link'}}"
        ng-disabled="!isEnabled"
        ng-click="$emit('AddRecordToLinkEvent', record)">
<span class="glyphicon {{canComplete ? 'icon-add-link' : 'icon-new-link'}} icon-sml"></span>
</button>
