<button class="btn {{canComplete ? 'btn-success btn-highlight btn-sm' : 'btn-primary btn-sm'}}"
        title="{{canComplete ? 'Find links from this' : 'Find links to this'}}"
        ng-disabled="!isEnabled"
        ng-click="$emit('AddRecordToQueryEvent', record)">
<span class="glyphicon {{canComplete ? 'icon-query-end' : 'icon-query-start'}} icon-sml"></span>
</button>
