<div>
  <!-- top section: pagination, sort-by etc -->
  <div class="row top-space">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <h2>Public Collections</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <form ng-submit="updateSearchTerm()" class="input-group pull-right">
          <input type="text" class="form-control"
              ng-model="data.searchTerm"
              autofocus="autofocus"/>
          <span class="input-group-btn"><button class="btn btn-primary" type="submit">Search!</button></span>
      </form>
    </div>
  </div>
  <div class="row top-space">
    <!-- results -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <loading-status
        status="status"
        empty-message='No collections found'
        error-message='There was an error loading the collections'
        loading-message='Loading the collections'
        >
      </loading-status>
      <collection-list collections="collections" base-uri="#/collection" is-public="true">
      </collection-list>
      <pagination
        ng-show="collections.length"
        total-items="data.total"
        class="pull-right"
        ng-model="data.page"
        ng-change="updatePage()"
        items-per-page="data.rows"
        max-size="3"
        boundary-links="true"
        rotate="false"
        previous-text="&lsaquo;" next-text="&rsaquo;"
        first-text="&laquo;" last-text="&raquo;"
      ></pagination>
    </div>
  </div>
      <div class="top-space"></div>
</div> <!-- ResultsController -->
