<div ng-include="'vlab/cms/contact-page-top'"></div>
<hr />
<h2 class="space-above">Stay in touch</h2>
<h3>Sign up to our newsletter</h3>
<form  class="bottom-space" action="http://designandpost.createsend.com/t/r/s/jrtyijj/" method="post" id="subForm">
<div>
<label for="name">Name:</label><br /><input type="text" name="cm-name" id="name" /><br />
<label for="jrtyijj-jrtyijj">Email:</label><br /><input type="text" name="cm-jrtyijj-jrtyijj" id="jrtyijj-jrtyijj" /><br /><br />

<input type="submit" value="Sign up" />
</div>
</form>
<div ng-show="newsletters">
<h3>Previous newsletters</h3>
<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Newsletter</th>
          <th>Date</th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="n in newsletters | filter:isVisible">
      <td>
        <a href="{{n.WebVersionURL}}">{{n.Subject | truncate:2000}}</a>
      </td>
      <td>
        {{n.SentDate | localDate}}
      </td>
    </tr>
  </tbody>
</table>
</div>
