<div class="row top-space">
  <div class="col-lg-12 col-md-12 col-sm-12"><!-- start left col-->
    <!-- start links list-->
    <loading-status status="status"
      loading-message="Loading link"
      error-message="There was an error loading this link"
      empty-message="This link does not exist"
      >
    </loading-status>
    <div ng-show="status == 'ok'">
      <h3>{{link.from.displayName}} &#8594; {{link.to.displayName}}</h3>
      <dl>
        <dt>Creator:</dt>
          <dd>{{link.username}}</dd>
        <dt>Updated:</dt>
          <dd>{{link.modified_utc | localDate}}</dd>
        <dt>Created:</dt>
          <dd>{{link.created_utc | localDate}}</dd>
      </dl>
      <table class="table table-hover table-striped" ng-show="status == 'ok'">
        <tbody>
        <tr>
          <thead>
            <th>Source record</th>
            <th>Relationship</th>
            <th>Target record</th>
            <th ng-if="user.owns(link)"></th>
          </thead>
        </tr>
        <tr>
          <td><record-summary record="link.from" /></td>
          <td style="white-space: nowrap" ng-if="link.linktype == link.pairtype">{{link.linktype}}</td>
          <td style="white-space: nowrap" ng-if="link.linktype != link.pairtype">
            <span class="glyphicon glyphicon-arrow-right"></span> {{link.linktype}}
              <br>
            <span class="glyphicon glyphicon-arrow-left"></span> {{link.pairtype}}
          </td>
          <td><record-summary record="link.to" /></td>
          <td ng-if="user.owns(link)" align="right">
            <button type="button" class="btn btn-primary btn-sm my-collection" title="Manage link"
                    ng-click="editLink(link)">
              <span class="glyphicon icon-manage-link icon-sml"></span>
            </button>
          </td>
        </tr>
      </table>
      <h3>Notes</h3>
      <p>{{link.synopsis}}</p>
      <!-- end links list-->
    </div>
  </div><!-- end links content /left col-->
</div>
