<div class="row-fluid top-space">

    <div class="offset1 span3 pull-left sign-in">
        <!-- login controls -->
        <div class="text-center">
            <h2>Sign in to HuNI</h2>
        </div>
        <div ng-show="providers_visible">
          <div ng-repeat="p in providers">
            <a ng-href="{{p.uri}}" ng-click="onLogin()">
                <button class="pull-left btn btn-block btn-primary btn-sm login" type="submit">
                    <img ng-src="img/{{p.id}}.png" style="height: 20px;"></img>
                    {{p.name}}
                </button>
            </a>
          </div>
        </div>
        <div>
            <br/>
            <br/>
            <div id="spinner"></div>
        </div>
    </div>
    
    <div class="span7 pull-left">
        <!-- help / ToS -->
        <h4>Terms of Use</h4>

        <p>By registering as a user to HuNI you agree to the following <a href="#/terms-conditions">Terms and Conditions.</a></p>

          <br/>
            <br/>
    </div>
</div>

