    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-space">
        <!-- start carousel -->
        <div id=myCarousel" class="carousel slide">
          <div class="carousel-inner" ng-controller="SlideshowController">
            <!-- TODO: this slideshow is not quite right -->
            <carousel interval="slideInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" alt="HuNI - Human Networked Infrastructure" width="1215" height="314">
                <div class="carousel-caption">
                  <img class="img-responsive logo-box" src="images/huni-uts-logo.png" width="379" height="118" alt="HuNI - Human Networked Infrastructure">
                  <h1>Unlocking and uniting Australian cultural data: combine, collect, connect and collaborate</h1>
                </div>
              </slide>
            </carousel>
          </div>
      </div><!-- end carousel -->
    </div>
  <!-- start what section -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
           ng-include="'vlab/cms/front-page-left'">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
           ng-include="'vlab/cms/front-page-right'">
      </div>
    </div>
      <div class="clearfix top-space"></div>
    <hr class="solid-intro" />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 browse-category top-space">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 browse-category-lines">
            <div class="panel-body home-search" ng-controller="SearchController">
              <h3>Search HuNI</h3>
                <form>
                  <div class="input-group home-search-bar">
                    <input type="text" class="form-control" placeholder="Try searching 'Mary Hobbs', 'Western Desert Art' or 'Eureka Stockade'" ng-model="query" autofocus="autofocus"/ >
                    <span class="input-group-btn"><button type="submit" ng-click="search()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                </div><!-- /input-group -->
               </form>
               <!--
                <button type="button" class="btn btn-success btn-md">Advanced Search</button>
                -->
              </div><!-- end panel body -->
          <!-- end search box -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 browse-dots">
         <div class="panel-body home-search browse-box">
           <h3>Browse records by category</h3>
           <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 browse"
                ng-repeat="cat in ['Concept', 'Event', 'Organisation',
                                   'Person', 'Place', 'Work']">
             <a class="{{cat|lowercase}}" ng-href="#/results?q=*&c={{cat}}">
               <div>
                 <img ng-src="images/icons/{{cat|lowercase}}.png"
                      width="110" height="110" alt="icon - {{cat}}">
                  <br /><br />{{cat}}
               </div>
              </a>
           </div>
         <div class="clearfix top-space"></div>
         </div>
     </div>
      </div>
        </div>
      <div class="clearfix top-space"></div>
